@import "bootstrap";
@import "components/spinner";
//@import "components/tags";
@import "components/highlight";

$blue: #fff;

body {
	background-color: $blue;
}

#page {
	@extend .container;
	min-height: calc(100vh - 352px);
}

#app {
	min-height: 100vh;
	min-width: 100vw;
	> header {
		background-color: #900028;
		height: 140px;
		> nav {
			@extend .container;
		}
	}
	> footer {
		background-color: #900028;
		height: 212px;

		> div {
			@extend .container;
			padding: 50px;
			height: 100%;
			.logo {
				@extend .col-md-3;
				img {
					@extend .img-responsive;
				}
			}
			.slogan {
				@extend .col-md-6;
				p {
					color: white;
					margin: 0;
					text-align: center;
				}
			}
			.links {
				@extend .col-md-3;
				ul {
					list-style-type: none;
				}
				a {
					color: white;
					text-transform: uppercase;
				}
			}
		}
	}
	#content {
		@extend .container;
		padding-top: 3rem;
		background-color: gray;
		min-height: 100vh;
	}
}
#report-list {
	@extend .row;
}

.report {
	@extend .col-md-2;
}

.report-image {
	display: block;
	position: relative;
	margin-bottom: 1rem;
	img {
		@extend .img-responsive;
		width: 100%;
	}
	h5 {
		position: absolute;
		bottom: 0;
		padding: .5rem;
		font-size: .75rem;
	}
}

#searchbar {
	text-align: center;
	padding-top: 3rem;
	padding-bottom: 3rem;
	input {

	}
}

#exampleInputEmail1 {
	font-size: 2rem;
}

#searchform {
	background-color: #f3f3f3;
	padding: 4rem;
	border-radius: 2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.droptag {
	ul {
		margin: 0;
		padding: 0;
		li {
			margin-bottom: 0.75rem;
			> div {
				padding-left: 1rem;
				padding-right: 1.75rem;
				padding-top: 0.25rem;
				padding-bottom: 0.25rem;
				background-color: #999;
				display: inline-block;
				position: relative;
				border-radius: 0.25rem;
				span {
					height: .9rem;
					width: .9rem;
					line-height: .8rem;
					text-align: center;
					color: #999;
					position: absolute;
					top: 0.6rem;
					right: 0.5rem;
					border-radius: 0.5rem;
					background-color: #333;
					cursor: pointer;
					display: block;
					font-size: .7rem;
					&:hover {
						background-color: black;
						color: white;
					}
				}
			}
			list-style-type: none;
		}
	}
	label {
		font-weight: 600;
		font-size: 0.8em
	}
}

.sort-it {
	padding-top: 2rem;
	text-align: center;
	a {
		&.selected {
			font-weight: 600;
		}
	}
}

#reports {
	margin-top: 2rem;
	margin-bottom: 2rem;
	.tab-content {
		padding: 1rem;
		li {
			display: none;
			&.active {
				display: block;
			}
		}
	}
}

.next-previous {
	.next-report {
		float: right;
	}
}

.report-content {
	button {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}

.sort-order {
	display: inline-block;
	margin-left: 5px;
	position: relative;
	top: 5px;
	span {
		display: block;
		line-height: 1;
		font-size: .75rem;
	}
	.active {
		color: red;
	}
}

.sort-it {
	div {
		display: inline-block;
		margin-right: 5px;
	}
	a {
		cursor: pointer;
		&.selected {
			cursor: default;
		}
	}
	span {
		cursor: pointer;
		&.active {
			cursor: default;
		}
	}
}
